@font-face {
    src: url(fonts/GrandHotel-Regular.ttf);
    font-family: Slay;
  }
.Growth {
    font-family: Slay;
    font-size: 4em;
    padding: 6%;
    padding-bottom: 0%;
}
.ContactBackground {
    width: 100%;
    padding-bottom: 6%;
    padding-top: 6%;
    font-family: Slay;
    font-size: 4em;

    align-items: center;
    background-color: rgba(254, 186, 211, 0.54);;
}

.connect {
    display:flex;
    justify-content: center;
 
}
.a:hover {
    background-color: white;
}

.g {
    height: 5%;
    width: 15%;
}

.github {
    height: 60%;
    width: 60%;
    padding: 4%;
}

.insta {
    height: 52%;
    width: 52%;
    padding: 4%;
}

.linkedin {
    height: 52%;
    width: 52%;
    padding: 4%;
}